@import 'base/base';
@import 'normalize';
@import 'animate';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

nav {
  background: #000;
  display: flex;
  align-items: center;
  margin: 0 15px 0 15px;
}

nav > .left {
  order: 1;
}

nav > .right {
  margin-left: auto;
  order: 2;
}

p, a {
  font-size: 1.5em;
  line-height: 2em;
  letter-spacing: .05em;
}

h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2.5em; }
h4 { font-size: 2.25em; }
h5 { font-size: 2em; }
h6 { font-size: 1.75em; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: white;
  background: black;
  display: grid;
  grid-template-columns: [main-start] auto [main-end];
  grid-template-rows: 45px repeat(3, auto);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header > div.right {
  flex-grow: 1;
  margin-left: 50px;
}

.header > div.left {
  flex-flow: 1;
  width: 55%;
}

img { max-width: 100%; }

.content {
  background: linear-gradient(#000, #323232);
  display: flex;
  flex-direction: column;
}

.content > .content-row {
  margin: 5% 15% 5% 15%;
}

.triad-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: space-between;
}

.box {
  flex: 1;
  //width: 32%;
  height: 200px;
  padding: 10px;
}

.box > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 650px) {
  .header, .triad-box{
    flex-direction: column;
    justify-items: left;
  }
  .header > div.left, .header > div.right { width: 100%; }

  .content > .content-row {
    margin: 2% 5% 2% 5%;
  }
}

.footer {
  background: #444;
}
