@import 'base/base';
@import 'normalize';
@import 'animate';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$navLinkColor: #ccc;
$darkTextColor: #6A6A6A;

nav {
  background: #232323;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}

nav > .left a {
  color: $navLinkColor;
}

nav > .right > a {
  color: $navLinkColor;
  padding: 15px;
}

.left {
  order: 1;
}

.right {
  margin-left: auto;
  order: 2;
}

p {
  font-size: 1.25em;
  line-height: 2em;
  letter-spacing: .05em;
}

a {
  @extend p;
  text-decoration: none;
  color: #6A6A6A;
}

h1 { font-size: 4em; color: #ccc; }
h2 { font-size: 2em; color: $darkTextColor; padding: 0; margin: 0; } // TO FIX: normalize isnt overriding User Agent Stylesheet -_-
h3 { font-size: 1.5em; color: $darkTextColor; padding: 0; margin: 0;}
h4 { font-size: 1.4em; color: $darkTextColor; padding: 0; margin: 0; }
h5 { font-size: 1.35em; color: $darkTextColor; padding: 0; margin: 0; }
h6 { font-size: 1.3em; color: $darkTextColor; padding: 0; margin: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #7A7A7A;
  background: #ECECEC;
  display: grid;
  grid-template-columns: [main-start] auto [main-end];
  grid-template-rows: 45px repeat(3, auto);
}

.header {
  color: #ccc;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #232323; /* Old browsers */
  background: -moz-linear-gradient(top, #232323 0%, #7c7c7c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #232323 0%,#7c7c7c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #232323 0%,#7c7c7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#7c7c7c',GradientType=0 ); /* IE6-9 */
}

.header > div.right {
  flex-grow: 1;
  margin-left: 70px;
  margin-right: 50px;
}

.header > div.left {
  flex-flow: 1;
  width: 70%;
}

img { max-width: 100%; }

.content {
  display: flex;
  flex-direction: column;
}

.content > .content-row {
  margin: 5% 15% 5% 15%;
}

hr  {
  width: 100%;
  height: 15px;
  border: 0;
  box-shadow: 0 10px 10px -10px #DCDCDC inset;
}

.triad-box {
  display: flex;
  flex-wrap: wrap;
}

.box-img {
  height: 200px;
}

.box-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 100%;
}

.box-text {
  display: flex;
  flex-direction: column;
  background: #E3E3E3;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.box-text p {
  flex: 1;
  padding-bottom: 10px;
}

.box-link {
  margin: 0px -15px -15px -15px;
  padding: 10px 15px;
  background: #d2d2d2;
}

.link-container {
  display: flex;
  justify-content: space-between;
}

@media all and (min-width: 40em){
  .box {
    width: 50%;
  }
}

@media all and (min-width:  60em){
  .box {
    width: 33.33%;
  }
}

.image-container {
  margin-top: 10px;
  height: 300px;
  width: 100%;
}

.image-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 20%;
}

.team, .contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.team > .right, .contact > .right {
  flex-grow: 1;
  margin-left: 20px;
}

.team > .left {
  flex-flow: 1;
  min-width: 50%;
}

.contact > .left {
  flex-flow: 1;
  max-width: 50%;
}

@media (max-width: 767px) {
  .header, .team, .contact {
    flex-direction: column;
    justify-items: left;
  }
  .header > div.left, .header > div.right { width: 100%; }

  .header > div.right { padding-left: 10px; }

  .contact > .left { min-width: 100%;}

  .contact > .right {
    margin-top: 50px;
    margin-left: 0;
  }

  .content > .content-row {
    margin: 5%;
  }
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #6A6A6A;
  margin-top: 7px;
}

.link-container:hover > .arrow-right {
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;
  float:right;
}

@-webkit-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@-moz-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}
@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}

.quote {
  margin: 40px 0px;
}

.footer {
  font-size: 0.8em;
  color: #CACACA;
  background: #727272;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.center {
  text-align: center;
}

input[type=text], textarea {
  width: 100%;
  padding: 10px;
  border: none;
  margin: 8px 0;
  font-size: 1.25em;
  line-height: 2em;
  letter-spacing: .05em;
  color: $darkTextColor;
  resize: none;
  border-bottom: 2px solid #d2d2d2;
}

@mixin default-transition {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

input[type=submit] {
  margin-top: 20px;
  background-color: #ccc;
  color: $darkTextColor;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  font-size: 1.25em;
  letter-spacing: .02em;
  @include default-transition;
}

input[type=submit]:hover {
  background-color: #ddd;
  color: #888;
}

.contact-content-container {
  margin-top: 25px;
  padding: 5px;
}

.social-icon {
  color: #fff;
  padding: 10px;
  display: block;
}

.fa-facebook {
  background-color: #6B6B6B;
  padding: 10px 14px;
  @include default-transition;
}

.fa-twitter, .fa-instagram, .fa-youtube {
  background-color: #6B6B6B;
  padding: 10px 12px;
  @include default-transition;
}

.fa-facebook:hover { background-color: #3d5b99; }

.fa-twitter:hover { background-color: #00aced; }

.fa-youtube:hover { background-color: #e64a41; }

.fa-instagram:hover { background-color: #e4405f; }

.social-media-name {
  color: $darkTextColor;
  font-size: 1em;
  padding-left: 15px;
}


